body {
  background-color: darkred;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.title {
  border: 20px dotted goldenrod;
  color: black;
  margin: 1%;
  padding: 2%;
  box-sizing: border-box;
  width: auto;
}

.title em {
  background-color: white;
  border: 5px solid darkgreen;
  padding: 1%;
  padding-left: 25%;
  padding-right: 25%;
  width: 90%;
}

.box {
  border: 15px double darkgreen;
  background-color: white;
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
  width: auto;
}

.btn {
  border: 5px solid darkgreen;
  background-color: white;
  margin: 2%;
}