body {
  background-color: darkred;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
}

h2 {
  font-weight: bold;
  text-align: center;
}

h3 {
  text-align: center;
}

.title {
  border: 20px dotted goldenrod;
  color: black;
  margin: 1%;
  padding: 2%;
  box-sizing: border-box;
  width: auto;
}

.title em {
  background-color: white;
  border: 5px solid darkgreen;
  padding: 1%;
  padding-left: 20%;
  padding-right: 20%;
  width: 90%;
  font-size: 72px;
}

.box {
  border: 15px double darkgreen;
  background-color: white;
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
  width: auto;
}

.sub-box {
  border: 5px solid goldenrod;
  background-color: white;
  margin: 2%;
  padding: 1%;
  box-sizing: border-box;
  width: auto;
}

.btn {
  border: 5px solid darkgreen;
  background-color: white;
  margin: 2%;
}

#total {
  float: right;
}
